.header{
    height: 100px !important;   
    width: auto !important;
}

.logoStyle{ 
    width: 97px !important;
    height: 92px !important;
    
}

.links{
    color: #fff !important;
    text-decoration: none !important;
    font-size: 14px !important;
    font-family: sans-serif;
    padding-left:15px !important ;

}
.btnLink{
    color: #000 !important;
    text-decoration: none !important;
    font-size: 14px !important;
    font-family: 'Potta One', cursive;
}

.btnLink1{
    color: #fff !important;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    
}
.secondDiv{
    width: 100px !important;
    display: inline !important;
    justify-content: space-between !important;
}
.wrapper{
    height: 200px !important;
    margin-top: 40px !important;
    width: 65%;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
}

.myName{
    font-family: 'Potta One', cursive;
    text-align: center;
    margin-top:60px !important;
 
}

.bio{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px !important;
    font-weight: bolder;

}

.viewBtn{ 
    text-align: center !important;
    outline: none;
}

.about{
    height: 200px !important;
    width: 100%;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
}
.aboutPara{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px !important;
    font-weight: bold;
}

.projectParagraph{
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: bold;
}

.icons {
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 16px;
}
.socialheader{
      font-family: 'Potta One', cursive;
}

